@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

:root {
  --main-color: #ffffff;
  --text-color: #000000;
  --highlight-color: #2727e6;
}

.dark-mode {
  --main-color: #000000;
  --text-color: #ffffff;
  --highlight-color: #ff4141;
}

body {
  font-family: Inter;
  font-size: 24px;
  line-height: 40px;

  background-color: var(--main-color);
  background-image: url(./assets/grid.svg);
  background-position: center center;

  color: var(--text-color);
}
