nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  background-color: var(--main-color);
  padding-left: 48px;

  transform: translate(100%, 0);
  transition: transform 0.5s 0s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

@media screen and (max-width: 480px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100vh;
    background-color: var(--main-color);

    transform: translate(100%, 0);
    transition: transform 0.5s 0s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
  }

  nav div.internal {
    font-size: 24px;
    line-height: 32px;
    flex: 1;
  }

  nav div.external {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 770px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    max-width: 400px;
    height: 100vh;
    background-color: var(--main-color);

    transform: translate(100%, 0);
    transition: transform 0.5s 0s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
  }

  nav div.internal {
    font-size: 36px;
    line-height: 48px;
    flex: 1;
  }

  nav div.external {
    margin-bottom: 36px;
  }
}

.nav-open {
  transform: translate(0, 0);
  transition-delay: 0.2s;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav div.internal {
  font-size: 48px;
  line-height: 64px;
  flex: 1;
}

nav div.external {
  margin-bottom: 48px;
}

.fake-mid {
  background-color: var(--highlight-color);
  transform: translate(0, 0);
  transition-delay: 0.1s;
}

.fake-back {
  background-color: var(--text-color);
  transform: translate(0, 0);
  transition-delay: 0s;
}

.fake-mid-close {
  background-color: var(--highlight-color);
  transform: translate(100%, 0);
  transition-delay: 0.1s;
}

.fake-back-close {
  background-color: var(--text-color);
  transform: translate(100%, 0);
  transition-delay: 0.2s;
}
